.chat-bot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}
.chat-bot-header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}
.chat-bot-header img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.chat-bot-content {
    padding: 10px;
    flex-grow: 1;
    display: none;
    flex-direction: column;
}
.chat-bot-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}
.chat-bot-input {
    display: flex;
}
.chat-bot-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.chat-bot-input button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.chat-bot-message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.chat-bot-farmer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #e0e0e0;
    
}
.chat-bot-farmer img {
    height: 100px;
}

.hidden{
    display: none;
}